//edit these as they are not needed
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//these ones are needed

//Brand Colors (lights are heighlights) - check these
$darkpurple: #3C1753;
$purple: #7E52D2;
$lightpurple: #8D68EA;
$yellow: #FFC523;
$lightyellow: #FFD46D;
$pink: #442956;

//text boarders and backgrounds
$black: #2E2E2E;
$charcoal: #353535;
$pewter: #808080;
$grey: #F4F4F4;
$white: #FFFFFF;
