$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//grey colors
$color__light-grey: #fafafa;
$color__medium-grey: #808080;
$color__dark-grey: #282828;




$color_background-white: #f4f4f4;
$color_background-grey: #fafafa;
$color_background-black: #24292d;

$color_text-black: #24292d;
$color_text-grey: #808080;

$color_purple: #7E52D2;
$color_dark-purple: #3c1753;
$color_light-purple: #B8A0E7;